{% extends 'base.html' %}

{% block content %}
<h1 class="mt-4">{% block title %} Create a New Trip {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="record">Record</label>
        <input type="text" name="record"
               placeholder="Reservation Code" class="form-control"
               value="{{ request.form['record'] }}"></input>
    </div>
    <div class="form-group">
        <label for="deptdate">Departure Date</label>
        <input type="text" name="deptdate"
               placeholder="YYYY-MM-DD" class="form-control"
               value="{{ request.form['deptdate'] }}"></input>
    </div>
    <div class="form-group">
        <label for="arrivdate">Arrival Date</label>
        <input type="text" name="arrivdate"
               placeholder="YYYY-MM-DD" class="form-control"
               value="{{ request.form['arrivdate'] }}"></input>
    </div>
    <div class="form-group"> <!-- change to dropdown eventually to control form input -->
        <label for="carrier">Carrier Name</label>
        <input type="text" name="carrier"
               placeholder="ABC" class="form-control"
               value="{{ request.form['carrier'] }}"></input>
    </div>
    <div class="form-group">
        <label for="flight">Flight Number</label>
        <input type="text" name="flight"
               placeholder="123" class="form-control"
               value="{{ request.form['flight'] }}"></input>
    </div>
    <div class="form-group">
        <label for="deptair">Departure Airport</label>
        <input type="text" name="deptair"
               placeholder="ABC" class="form-control"
               value="{{ request.form['deptair'] }}"></input>
    </div>
    <div class="form-group">
        <label for="arrivair">Arrival Airport</label>
        <input type="text" name="arrivair"
               placeholder="ABC" class="form-control"
               value="{{ request.form['arrivair'] }}"></input>
    </div>
    <!--<div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" placeholder="Trip content"
                  class="form-control">{{ request.form['content'] }}</textarea>
    </div>-->
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
